* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: Sora,"sans-serif";
}

html {
    font-size: 62.5%;
}

:root {
    --header-bg: #10375C;
}

/* common */
.btn {
    --height: 60px;

    display: inline-block;
    min-width: 20.5rem;
    height: var(--height);
    border: 1px solid #2e80ce;
    padding: 0 20px;
    color: #FFF;
    border-radius: 999px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: var(--height);
    background: #2E80CE;
}

.btn:hover {
    opacity: 0.85;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section__heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
}

.section__desc-lv1 {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

.section__desc-lv2 {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}

/* header */

.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::after,
.logo__circle::before {
    content: "";    
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #FFF;
}

.logo__text {
    margin-left: 0.6em;
    color: #FFF;
    text-align: right;
    line-height: 1.5em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}

.navbar__link--active,
.header-action__login:hover,
.navbar__link:hover {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    top: -2px;
    left: -8px;
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    margin-left: 7px;
    min-width: 106px;
    --height: 44px;
    font-size: 1.6rem;
}

/* hero */

.hero {
    padding: 76px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 44.2%;
}

.hero__heading {
    color: #FFF;
    width: 51.7rem;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem;
    letter-spacing: -0.14rem;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    width: 46.8rem;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    border-radius: 0.6rem;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
    width: 33rem;
    height: 54rem;
}

.hero__img:last-child {
    width: 21rem;
    height: 41rem;
}

/* service */

.service {
    margin: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    margin: 18px auto 0;
    width: 46.8rem;
}

.service__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 57rem;
    height: 57rem;
    border-radius: 1.2rem;
    object-fit: cover;
}

.service__list {
    margin-bottom: 55px;
}

/* service item */

.service-item {
    display: flex;
    padding: 21px;
    width: 47rem;
    border-radius: 1rem;
    background: #FFF;
    transition: .25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    color: #10375C;
    background: #EFF6FD;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    transition: .25s;
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: #2E80CE;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 8px;
    width: 35.1rem
}

/* work */

.work {
    padding: 108px 0;
    background: #F6FBFF;
}

.work__desc {
    margin-top: 18px;
    width: 468px;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px;
    border: 16px solid #EAF6FF;
    border-radius: 0.4rem;
    background-color: #fff;
    transition: .25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2E80CE;
}

.work-item__heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem;
}

.work-item__more {
    /* display: inline-block; */
    color: #2E80CE;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}