* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: Sora,"sans-serif";
}

html {
    font-size: 62.5%;
}

:root {
    --header-bg: #10375C;
}

/* common */
.btn {
    --height: 60px;

    display: inline-block;
    min-width: 20.5rem;
    height: var(--height);
    border: 1px solid #2e80ce;
    padding: 0 20px;
    color: #FFF;
    border-radius: 999px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(var(--height) - 5px);
    background: #2E80CE;
}

.btn:hover {
    opacity: 0.85;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section__heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
}

.section__desc-lv1 {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

.section__desc-lv2 {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}

.controls {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    outline: none;
    color: #575F66;
    border: 1px solid #575F66;
    background-color: #fff;
    outline: none;
    transition: .25s;
}

.control__btn:hover {
    color: #fff;
    border-color: #2E80CE;
    background-color: #2E80CE;
    cursor: pointer;
}

.control-next-icon {
    rotate: 180deg;
}

/* header */

.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::after,
.logo__circle::before {
    content: "";    
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #FFF;
}

.logo__text {
    margin-left: 0.6em;
    color: #FFF;
    text-align: right;
    line-height: 1.5em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}

.navbar__link--active,
.header-action__login:hover,
.navbar__link:hover {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    top: -2px;
    left: -8px;
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    margin-left: 7px;
    min-width: 106px;
    --height: 50px;
    font-size: 1.6rem;
}

/* hero */

.hero {
    padding: 76px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 44.2%;
}

.hero__heading {
    color: #FFF;
    width: 51.7rem;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem;
    letter-spacing: -0.14rem;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    width: 46.8rem;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    border-radius: 0.6rem;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
    width: 33rem;
    height: 54rem;
}

.hero__img:last-child {
    width: 21rem;
    height: 41rem;
}

/* service */

.service {
    margin: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    margin: 18px auto 0;
    width: 46.8rem;
}

.service__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 57rem;
    height: 57rem;
    border-radius: 1.2rem;
    object-fit: cover;
}

.service__list {
    margin-bottom: 55px;
}

/* service item */

.service-item {
    display: flex;
    padding: 21px;
    width: 47rem;
    border-radius: 1rem;
    background: #FFF;
    transition: .25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.service-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    color: #10375C;
    background: #EFF6FD;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    transition: .25s;
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: #2E80CE;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 8px;
    width: 35.1rem
}

/* work */

.work {
    padding: 108px 0;
    background: #F6FBFF;
}

.work__desc {
    margin-top: 18px;
    width: 468px;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.work-item {
    padding: 43px;
    border: 16px solid #EAF6FF;
    border-radius: 0.4rem;
    background-color: #fff;
    transition: .25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2E80CE;
}

.work-item__heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem;
}

.work-item__more {
    /* display: inline-block; */
    color: #2E80CE;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

/* feature */

.feature {
    margin: 170px 0;
}

.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding: 0  58px 121px 0;
}

.feature__img:first-child {
    width: 51.2rem;
    height: 37rem;
    object-fit: cover;
    border-radius: 0.6rem;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 33.2rem;
    height: 37rem;
    object-fit: cover;
    border-radius: 0.6rem;
}

.feature__cta {
    margin-top: 38px;
}

.feature__desc {
    margin-top: 18px;
}

/* member */

.member {
    margin: 170px;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item {
    cursor: pointer;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.15);
}

.member-item__img-bg {
    padding-top: 28px;
    border-radius: 0.6rem;
    background: #EAF6FF;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: .25s;
}

.member-item__name {
    margin-top: 12px;
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.member-item__title {
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.6rem;
}

.member__controls {
    justify-content: center;
    margin-top: 38px;
}

/* install */

.install {
    margin: 170px;
    padding-top: 95px;
}

.install__inner {
    border-radius: 0.4rem;
    background: #2E80CE;
    display: flex;
    align-items: center;
    padding: 0  70px;
}

.install__img {
    display: block;
    margin-top: -95px;
    width: 28.4rem;
    height: 52.2rem;
    object-fit: cover;
}
    
.install__content {
    margin-left: 160px;
}

.install__heading {
    max-width: 489px;
}

.install__desc {
    margin-top: 18px;
    max-width: 586px;
}

.install__desc,
.install__heading {
    color: #FFF;
}

.install__row {
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
}

/* news */

.news {
    margin: 170px;
}

.news__content,
.new__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 28px;
}

.news__heading {
    max-width: 47rem;
}

.news__more {
    text-decoration: underline;
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.8rem;
    text-underline-offset: 5px;
}

.news__list {
    max-width: 570px;
    display: flex;
    column-gap: 30px;
}

.news-item {
    flex: 1;
    border-radius: 1.2rem;
    border: 1px solid #E8EBEE;
    overflow: hidden;
    transition: 0.25s;
}

.news-item__thumb {
    display: block;
    width: 100%;
    height: 17.2rem;
    object-fit: cover;
}

.news-item:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
    transform: translateY(-16px);
}

.news-item:hover .news-item__img {
    transform: scale(1.15);
}

.news-item__thumb {
    overflow: hidden;
    height: 172px;
}

.news-item__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .25s;
}

.news-item__body {
    padding: 18px 22px;
}

.news-item__heading {
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.6rem;
}

.news-item__desc {
    margin-top: 10px;
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.4rem;
}

.news-item__more {
    display: inline-block;
    margin-top: 10px;
    color: #10375C;
    font-size: 1.4rem;
    font-weight: 400;
}

.news-item__more:hover {
    color: #2E80CE;
}

/* appointment */

.appointment {
    margin: 170px;
}

.appointment__inner {
    background: #F6FBFF;
    padding: 100px 178px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 38px;
}

.appointment__heading {
    position: relative;
}

.appointment__heading::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -18px;
    width: 13.6rem;
    height: 0.2rem;
    background: #2E80CE;
}

.appointment__desc {
    width: 61.7rem;
    text-align: center;
}